body 
{ 
	/*font-size:100%; */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	background-color: white;
}

.jumbotron{
background-color: #1f6ddd;
color: black;
padding: 2%;
border-style: solid;
}

.backButton{
 position: absolute;
 float: left;
 font-size: 100%;
 padding: 2%;
 margin:0;
 left:2% ;
 top: 2%;
 background: #CADCDC;
 border-style: solid;
 color: black;
}
.course{
	display: inline;
	font-size: 400%;
	padding-right: 10%;
	padding-left: 10%;
	background-color: none;
	float: center;
	width: 100%;
}


.contact-form {
	padding: 3%;
	text-align: center;
	width:90%;
	margin: 0 auto;
	background-color: none;
}
p.comment-form-author {
	margin-bottom:4%;
}
.contact-form label{
	display: block;
	/*font-size:400%;*/
	/*color: black;*/
	text-transform: uppercase;
	font-weight: 100;
	text-align: left;
	margin-bottom:1%;
}
.contact-form input[type="text"] {
	padding: 2.5%;
	width:92%;
	color:gray;
	-webkit-appearance:none;
	font-size:250%;
	border:solid;
	background:white;
	outline: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
}
.contact-form input[type="text"], .contact-form textarea {
}
.contact-form textarea {
	/*padding: 5%;*/
	display: block;
	width: 91.5%;
	background:#fff;
	border:solid;
	outline: none;
	color:#999;
	font-size:14px;
	-webkit-appearance: none;
	resize: none;
	height:90px;
	font-family: 'Open Sans', sans-serif;
}
.contact-form input[type="submit"]{
	/*padding: 0.5em 1em;*/
	text-decoration: none;
	border: 2px solid #1A783B;
	margin-top:0.5em;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-size: 100%;
	text-transform:uppercase;
	text-align: center;
	transition: 0.5s all;
	-webkit-appearance:none;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	background: #6699FF;
	font-weight: 700;
	cursor:pointer;
	width:52%;
	outline: none;
}
.contact-form input[type="submit"]:hover{
	background: none;
	border: 2px solid #fff;
	color:#fff;
	}


.save{

	border: 5px solid gray;
	margin-top: 2%;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	text-align: center;
	color: black;
    height: 30%;
    font-size: 150%;
    padding: 1%;
    width: 60%;

}

